header {
    width: auto;
    max-width: 600px;

    margin: 0 auto;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #f2f2f2;
}

header h1 {
    color: var(--primary-color);
    font-size: 1.5em;
}

header .links a + a{
    margin-left: 20px;
}

header .links a:hover {
    background-color: var(--primary-color);
    padding: 6px;

    color: #ffffff;

    border-radius: 8px;
}
